.main-container{
    display: flex;
    flex-direction: row;
}

.left-side{
    flex: 1;
    height: 100vh;
    background-image: url("background.jpg");
    background: radial-gradient(rgb(39, 35, 35), rgb(0, 0, 12));
    background-size: contain;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

.left-side .attribute{
    width: 100%;
    font-size: 24px;
    color: white;
    position: relative;
    top: 98%;
    text-align: center;

}

.logo{
    background: radial-gradient(rgb(39, 35, 35), rgb(0, 0, 12));
    backdrop-filter: blur(45px);
    display: flex;
    justify-content: center;
    position: relative;
    top: 250px;
}

.right-side{
    flex: 1.4;
}

  body {
    color: #5D6063;
    background-color: grey;
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    line-height: 1.3;
  
  }
  
  .form-header {
    text-align: left;
    background-color: #F6F7F8;
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    margin: 40px 0;
    padding: 50px;
  }
  
  .form-header h1 {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .form {
    background-color: #F6F7F8;
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    font-size:20px;
    padding: 50px;
    margin: 0 0 40px 0;
  }
  .form legend{
    font-size: 30px;
    margin-bottom: 20px;
  }

  .form-row {
    margin-bottom: 40px;
    display: flex;
    justify-content: flex-start;
    gap: 30px;
  }

  .input-wrapper{
    display: flex;
    flex-direction: column;
  }
  
  .form-row input {
    background-color: #FFFFFF;
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    width: 400px;
    padding: 7px;
    font-size: 14px;
  }
  
  .form-row label {
    margin-bottom: 5px;
  }

.last-row{
    flex-direction: column;
    gap: 5px;
    font-weight: bold;
}
.last-row a{
    text-decoration: none;
}
  .submit-btn{
    background-color: rgba(113, 155, 107);
    width: 300px;
    height: 50px;
    color: white;
    font-size: 20px;
  }